fastapi
uvicorn[standard]
requests
pydantic
python-multipart
faster-whisper
langgraph
langchain-openai
langchain-community
langchain-huggingface
langchain-text-splitters
python-dotenv
pymupdf
faiss-cpu
sentence-transformers
